{% extends 'layout.html' %}

{% block content %}
    <div id="return">
        <h1>주문확인</h1>
        <table id="return-item">
            <tr>
                <th>이미지</th>
                <th>도서</th>
                <th>수량</th>
                <th>단가</th>
                <th>합계</th>
            </tr>
            {% for orderItem in orderItems %}
                <tr>
                    <td class="td-image">
                        {% if orderItem.Book.imageSource %}
                        <img class="book-image" src="{{orderItem.Book.imageSource}}" alt="{{orderItem.Book.title}}">
                        {% else %}
                        <img class="book-image" src="no_image.png" alt="{{orderItem.Book.title}}">
                        {% endif %}
                    </td>
                    <td class="book-title">
                        <div>{{orderItem.Book.title}}</div>
                    </td>
                    <td>
                        <div class="cart-book-quantity">{{orderItem.quantity}}</div>
                    </td>
                    <td class="book-price">
                        <div>{{orderItem.Book.price}}</div>
                    </td>
                    <td class="book-total-price">
                        <div>{{orderItem.quantity * orderItem.Book.price}}</div>
                    </td>
                    <td class="book-return">
                        <button class="minus-btn" onclick="count('minus')">-</button>
                        <input type="number" value="1" name="quantity" class="book-quantity">
                        <button class="plus-btn" onclick="count('plus')">+</button>
                        <form action="/return/part" method="post">
                            <input type="hidden" value="{{orderItem.book_number}}" name="orderNumber">
                            <input type="radio" value="badBook" name="returnReason"> 도서 불량
                            <input type="radio" value="changeMind" name="returnReason"> 고객 변심
                            <input type="hidden" value="1" name="quantity" class="book-quantity-copy">
                            <button type="submit">도서 환볼</button>
                        </form>                        
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div id="status">
            <span>주문 상태: </span>
            {% if order.status === 'ready' %}
                <span>주문 완료</span>
            {% elif order.status === 'cancel' %}
                <span>주문 취소</span>
            {% elif order.status === 'delievering' %}
                <span>배송 중</span>
            {% elif order.status === 'completeDeliever' %}
                <span>배송 완료</span>
            {% elif order.status === 'allReturn' or order.status === 'partReturn' %}
                <span>환불 완료</span>
            {% elif order.status === 'confirm' %}
                <span>구매 확정</span>
            {% endif %}
        </div>
        <div class="footer">
            {% if order.status === 'ready' %}
                <form action="/return/cancel" method="post">
                    <button type="submit">주문 취소</button>
                </form>
            {% elif order.status === 'cancel' %}
                <form action="/return/completeDeliever" method="post">
                    <button type="submit">배송 완료로 변경</button>
                </form>                
            {% elif order.status === 'completeDeliever' %}
                <form action="/return" method="post">
                    <input type="radio" value="badBook" name="returnReason"> 도서 불량
                    <input type="radio" value="changeMind" name="returnReason"> 고객 변심
                    <button type="submit">주문 전체 환불</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function count(type) {
            const quantity = document.getElementsByClassName('book-quantity')[0];
            
            if (type === 'minus') {
                quantity.value = parseInt(quantity.value) - 1;
            } else if (type === 'plus') {
                quantity.value = parseInt(quantity.value) + 1;
            }

            const quantity_copys = document.querySelectorAll('.book-quantity-copy');
            quantity_copys.forEach(quantity_copy => {
                quantity_copy.value = quantity.value;
            })
        }
    </script>
{% endblock %}